/*Font for Titles*/
@font-face {
    font-family: 'Avatar';
    src: url('../fonts/Avatar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("../images/Header.jpg");
  background-size: cover;       /* fills screen */
  background-position: center;  /* centers image */
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional parallax effect */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* pitch black */
  color: #ffffff; /* white text */
}

.sec-header {
    font-family: 'Avatar', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 20vh; 
    font-family: 'Avatar', sans-serif;
    background-color: black;
    text-align: center;
    font-size: 60px;
}

.sec-header h1 {
  font-size: 4rem;
}

.sec-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
  justify-content: flex-end;
}

header {
  background-color: transparent;
  color: #ffffff; /* white text */
  padding: 1rem;
}

.main {
  height: 61vh;              /* about 2/3 of the page */
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: center;
  justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avatar', sans-serif;
  color: #ffffff; /* ensures headings are white */
  font-weight: bold;
  margin: 0.5rem 0;
  line-height: 1.2;
}

p {
  font-family: 'Avatar', sans-serif;
  color: #ffffff;
  margin: 0.5rem 0;
}

a {
  font-family: 'Avatar', sans-serif;
  color: #ffffff;
  font-size: 2rem;
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-links a:hover {
  opacity: 1;
}
