
body {
  background-image: url("../images/Header.jpg");
  background-size: cover;       /* fills screen */
  background-position: center;  /* centers image */
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional parallax effect */
  
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* pitch black */
  color: #ffffff; /* white text */
}

.site-footer {
  background-color: #000000;
  color: white;
  text-align: center;
}

@font-face {
  font-family: "Herculanum LT W01 Bold";
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: transparent;
  color: #ffffff; /* white text */
  padding: 1rem;
}

header nav a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
}

.main {
  height: 66vh;              /* about 2/3 of the page */
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Herculanum LT W01 Bold";
  color: #ffffff; /* ensures headings are white */
  font-weight: bold;
  margin: 0.5rem 0;
  line-height: 1.2;
}

p {
  font-family: "Herculanum LT W01 Bold";
  color: #ffffff;
  margin: 0.5rem 0;
}

a {
  font-family: "Herculanum LT W01 Bold";
  color: #ffffff;
  text-decoration: none;
}


#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
  padding: 1rem;
}

#gallery img {
  width: 100%;
  border-radius: 8px;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 2rem;
  max-width: 900px; /* optional, to prevent huge squares on large screens */
  margin: 0 auto; /* center grid */
}

.gallery-square {
  position: relative;
  width: 100%;
  padding-top: 100%; /* makes it square */
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-square img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-square .overlay {
  font-family: 'Kaushan Script', cursive;;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.3); /* semi-transparent overlay */
  transition: background 0.3s;
}

.gallery-square:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
}

.nav-links {
  width: 80%;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}

.nav-links a:hover {
  opacity: 0.7;
}
